body {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
h1 {
  text-align: center;
  padding: 25px;

  font-family: "ABeeZee", sans-serif;
}
h2 {
  font-size: xx-large;
  text-align: center;
  font-family: "ABeeZee", sans-serif;
  text-shadow: #fcf8cf 1px 0 10px;
}

h4 {
  font-size: small;
}

.custom-link {
  color: inherit;
  text-decoration: none;
  text-shadow: #fcf8cf 1px 0 10px;
}
.custom-link:hover {
  text-decoration: none;
  color: #fdd7a4;
}
h4 {
  text-align: center;
}
.weatherContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weatherContainer #curentTemp {
  margin-right: 10px;
}
.card {
  background-color: rgba(248, 239, 227, 0.6);
}
